# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
#import api_keys
from api_keys import api_key
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)
# print(cities[0:10])
# print(lat_lngs)

df = {'Cities': cities}
cities_df = pd.DataFrame(df)
#cities_df.head()

['saint-philippe', 'chernyshevskiy', 'taolanaro', 'jamestown', 'arraial do cabo', 'tuktoyaktuk', 'yarkovo', 'hilo', 'port alfred', 'samusu']
<zip object at 0x11c5cc588>

            Cities
0   saint-philippe
1   chernyshevskiy
2        taolanaro
3        jamestown
4  arraial do cabo

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [10]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
lat = []
lng = []
temp = []
humidity = []
cloudiness = []
wind_speed = []
country = []
date = []

# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="

for city in cities:
    #time.sleep(1)
    response = requests.get(query_url + city).json()
    
    try:
        lat.append(response['coord']['lat'])
        #print(lat)
        lng.append(response['coord']['lon'])
        #print(lng)
        temp.append(response['main']['temp'])
        #print(temp)
        humidity.append(response['main']['humidity'])
        #print(humidity)
        cloudiness.append(response['clouds']['all'])
        #print(cloudiness)
        wind_speed.append(response['wind']['speed'])
        country.append(response['sys']['country'])
        date.append(response['dt'])
    #print(wind_speed)
    except KeyError:
        #print("Skipping city")
        lat.append("NAN")
        lng.append("NAN")
        temp.append("NAN")
        humidity.append("NAN")
        cloudiness.append("NAN")
        wind_speed.append("NAN")
        country.append("NAN")
        date.append("NAN")
# print(response)
# print(len(lat))
# print(len(lng))
# print(len(temp))
# print(len(humidity))
# print(len(cloudiness))
# print(len(wind_speed))
# print(len(country))
len(date)

620
620
620
620
620
620
620

620

In [25]:
df = {
    'Cities': cities,
    'Lat': lat,
    'Lng': lng,
    'Temp': temp,
    'Humidity': humidity,
    'Cloudiness': cloudiness,
    'Wind Speed': wind_speed,
    'Country': country,
    'Date': date
}
cities_df = pd.DataFrame(df)
cities_df.head(20)    
cities_df.count()

Cities        620
Lat           620
Lng           620
Temp          620
Humidity      620
Cloudiness    620
Wind Speed    620
Country       620
Date          620
dtype: int64

In [24]:
cleaned_cities_df = cities_df[cities_df.Country != 'NAN']
cleaned_cities_df.head(20)
cleaned_cities_df.count()

Cities        554
Lat           554
Lng           554
Temp          554
Humidity      554
Cloudiness    554
Wind Speed    554
Country       554
Date          554
dtype: int64

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [28]:
cleaned_cities_df.to_csv('output_data_file')
cleaned_cities_df.head()

,Cities,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,saint-philippe,45.36,-73.48,-8.46,62,90,4.6,CA,1546124400
1,chernyshevskiy,63.01,112.47,-27.58,76,44,3.02,RU,1546127033
3,jamestown,-33.21,138.6,23.87,72,44,1.97,AU,1546126530
4,arraial do cabo,-22.97,-42.02,24.55,97,8,2.07,BR,1546126564
5,tuktoyaktuk,69.44,-133.03,-28,75,20,2.6,CA,1546124400

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot